@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  min-width: 320px;
  margin: 0;
  background: #f5f5f5;
}

header {
  box-shadow: 0px 3.3862948417663574px 5.643825054168701px 0px #b0bec552;
  box-shadow: 0px 9.030119895935059px 27.09035873413086px 0px #b0bec552;
}

.highlighted {
  background-color: #c0c0c0;
  font-weight: bold;
  border-radius: 10%;
}

.button-addClient svg path {
  fill: #9873ff;
}
.button-addClient:hover svg path {
  fill: white;
}
.button-addClient:disabled svg path {
  fill: #c8c5d1;
}
/* .button-addContact svg path {
  fill: #9873ff;
}
.button-addContact:hover svg path {
  fill: white;
} */
.button-deleteContact svg g path {
  fill: #b0b0b0;
}
.button-deleteContact:hover svg g path {
  fill: #f06a4d;
}

.select-contactType::after {
  content: "sss";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 5px;
  height: 5px;
  background-color: #9873ff;
}

.shake {
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.grid-table-container {
  width: 100%;
  min-width: 768px;
  overflow-x: auto;
}

.grid-table-header,
.grid-table-row {
  display: grid;
  grid-template-columns: 
    minmax(80px, 100px) 
    minmax(220px, 370px) 
    minmax(100px, 175px) 
    minmax(100px, 175px) 
    minmax(130px, 160px) 
    minmax(110px, 210px);
  grid-template-areas: 
    "id name created updated contacts actions";
  align-items: center;
}

.grid-table-cell-id {
  grid-area: id;
}

.grid-table-cell-name {
  grid-area: name;
}

.grid-table-cell-created {
  grid-area: created;
}

.grid-table-cell-updated {
  grid-area: updated;
}

.grid-table-cell-contacts {
  grid-area: contacts;
}

.grid-table-cell-actions {
  grid-area: actions;
}

@media (max-width: 992px) {
  .grid-table-header,
  .grid-table-row {
    grid-template-columns: 
      minmax(80px, 100px) 
      minmax(180px, 300px) 
      minmax(100px, 150px) 
      minmax(100px, 150px) 
      minmax(120px, 140px) 
      minmax(110px, 160px);
  }
}